


body {
    padding: 0;
    margin: 0;
    background-color: #E2E2E2;
}

/*===============================================HEADER SECTION============================================*/
.sticky { /*anything put here will be sticky*/
    position: sticky;
    top: 0;
}

#header-top { /*background for the content, carries the actualy top-content*/
    background: #c60c30;
    padding: 0;
    margin: 0;
}

#header-top-content {/*content stays centered, contains content in the upper header*/
    width: 1080px;
    margin: 0 auto;
    height: 70;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight:bold;
    font-style:normal;
    margin: 0;
    padding-top: 15px;
}

#header-bottom {/*carries the bottom-content (nav bar)*/
    background: #333;
    padding: 0;
    margin: 0;
}

ul { /*This is acting as header-bottom-content, contains content in the lower header */
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin: 0 auto;
    width: 1080px;
    height: 35;
}

input[type=button] { /*GO button*/
    display: inline;
    float: left;
    background-color: #c60c30;
    border: none;
    padding: 10px 25px;
    cursor: pointer; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight:bold;
    font-style:normal; 
}

input:hover[type=button] {
    background-color: #770B21;
}

input[type=text] { /*ICAO code input*/
    display: inline;
    float: left;
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
}

li {
    float: left;
}

li a {
    background-color: #333;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight:bold;
    font-style:normal;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}


/*===============================================METAR SECTION============================================*/
#mainpage {
    width: 1080px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20;
    min-height: 1080px;
    border-top: 1px solid white; /*for some reason, this gets rid of a white space between the page and the header*/
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-style:normal;
    color: white;
    text-transform: uppercase;
    margin-left:20;
    padding-left: 10;
    display: block;
    width: 500px;
    height: 30px;
    line-height: 30px; /*this centres the text within the block*/
    background-color: #afafaf;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight:normal;
    font-style:normal;
    margin-left:20;
    font-size: 20;
}

img {
    margin: 20;
}

/*===============================================HOMEPAGE SECTION============================================*/

input.big[type=button] { /*.big makes a new class for input called big, anytime you want to use this type of input box, add class="big"*/
    margin-right: 40;
    margin-left: 40;
    margin-top: 20;
    margin-bottom: 20;
    display: block;
    background-color: #c60c30;
    border: none;
    width: 1000px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight:bold;
    font-style:normal; 
}

input.big:hover[type=button] {
    background-color: #770B21;
}

input.big[type=text] { /*ICAO code input*/
    margin-right: 40;
    margin-left: 40;
    margin-top: 18;
    display: block;
    background-color: #333;
    border: none;
    color: white;
    width: 1000px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

h1.home {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight:normal;
    font-style:normal;
    margin-left:40;
    margin-top: 18;
    margin-bottom: 18;
    font-size: 30;
    text-align: center;
}

p.home {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight:normal;
    font-style:normal;
    font-size: 20;
    text-align: center;
    margin: 4;
}

/*===============================================GUIDE SECTION============================================*/
h2.guide {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-style:normal;
    color: black;
    text-transform: uppercase;
    margin-left:20;
    font-size: 30px;
}

p.fixed {
    font-family: 'Roboto Mono', sans-serif;
    color: black;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #C0C0C0;
    padding: 10px;
    font-size: 20;
    text-transform: uppercase;
    width: 800px;
}

h3.guide {
    font-family: 'Roboto Mono', sans-serif;
    font-weight:bold;
    font-style:normal;
    color: black;
    text-transform: uppercase;
    margin-left:20;
    margin-top: 40;
}